{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lista de periodo</h1>
</div>

<table class="table">
    <tr>
      <th>Sigla do curso</th>
      <th>Ano</th>
      <th>Semestre</th>
      <th>Numero</th>
      <th>Editar</th>
      <th>Apagar</th>
    </tr>
        {% for periodo in periodos %}
          <tr>
            <td>{{ periodo.sigla_curso }}</td>
            <td>{{ periodo.ano_grade }}</td>
            <td>{{ periodo.semestre_grade }}</td>
            <td>{{ periodo.numero_periodo }}</td>
            <td>
              <a href="{% url 'editar_periodo' periodo.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/editar.png" height="32" width="32">
              </a>
            </td>
            <td>
              <a href="{% url 'apagar_periodo' periodo.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/excluir.png" height="32" width="32">
              </a>
            </td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
