{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lista de professor</h1>
</div>

<table class="table">
    <tr>
      <th>Ra</th>
      <th>Apelido</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Celular</th>
      <th>Editar</th>
      <th>Apagar</th>
    </tr>
        {% for professor in professors %}
          <tr>
            <td>{{ professor.ra_professor }}</td>
            <td>{{ professor.apelido_professor }}</td>
            <td>{{ professor.nome_professor }}</td>
            <td>{{ professor.email_professor }}</td>
            <td>{{ professor.celular_professor }}</td>
            <td>
              <a href="{% url 'editar_professor' professor.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/editar.png" height="32" width="32">
              </a>
            </td>
            <td>
              <a href="{% url 'apagar_professor' professor.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/excluir.png" height="32" width="32">
              </a>
            </td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
