{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de disciplina ofertada</h1>
</div>

<form action="{% url 'novo_disciplinofertada' %}" method="POST">{% csrf_token %}
  <fieldset>
    <legend>Dados da disciplina ofertada</legend>
      <table cellspacing="2">

        <tr>
          <td>
            <label for="nome_disciplina">Nome da disciplina: </label>
          </td>
          <td align="left">
            <select name="nome_disciplina">
              {% for disciplina in disciplina %}
                <option value="{{ disciplina.nome_disciplina }}">{{ disciplina.nome_disciplina }}</option>
              {% endfor %}
            </select></br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="ano_disciplina">Ano: </label>
          </td>
          <td align="left">
          {{ form.ano_disciplina }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="semestre_disciplina">Semestre: </label>
          </td>
          <td align="left">
          {{ form.semestre_disciplina }}</br>
          </td>
        </tr>
      </table>
    </fieldset>

  <table>
    <tr>
      <td>
          <input type="submit" value="Salvar" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}
