{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de coordenador</h1>
</div>

<form method="post" action="{% url 'novo_coordenador' %}">{% csrf_token %}
  <fieldset>
    <legend>Dados do coordenador</legend>
      <table cellspacing="2">

        <tr>
          <td>
            <label for="nome_curso">Nome: </label>
          </td>
          <td align="left">
            {{ form.nome_coordenador }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="sigla_curso">Email: </label>
          </td>
          <td align="left">
          {{ form.email_coordenador }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="sigla_curso">Celular: </label>
          </td>
          <td align="left">
          {{ form.celular_coordenador }}</br>
          </td>
        </tr>
      </table>
    </fieldset>

  <table>
    <tr>
      <td>
          <input type="submit" value="Salvar" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}
