{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de disciplina</h1>
</div>

<form action="{% url 'novo_disciplina' %}" method="POST">{% csrf_token %}
  <fieldset>
    <legend>Dados da disciplina</legend>
      <table cellspacing="2">

        <tr>
          <td>
            <label for="nome_disciplina">Nome da disciplina: </label>
          </td>
          <td align="left">
            {{ form.nome_disciplina }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="carga_horaria_disciplina">Carga horaria: </label>
          </td>
          <td align="left">
          {{ form.carga_horaria_disciplina }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="teoria_disciplina">Teoria: </label>
          </td>
          <td align="left">
          {{ form.teoria_disciplina }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="pratica_disciplina">Pratica: </label>
          </td>
          <td align="left">
          {{ form.pratica_disciplina }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="ementa_disciplina">Ementa: </label>
          </td>
          <td align="left">
          {{ form.ementa_disciplina }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="competencias_disciplina">Competencias: </label>
          </td>
          <td align="left">
          {{ form.competencias_disciplina }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="habilidades_disciplina">Habilidades: </label>
          </td>
          <td align="left">
          {{ form.habilidades_disciplina }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="conteudo_disciplina">Conteudo: </label>
          </td>
          <td align="left">
          {{ form.conteudo_disciplina }}</br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="bibliografia_disciplina">Bibliografia: </label>
          </td>
          <td align="left">
          {{ form.bibliografia_disciplina }}</br>
          </td>
        </tr>

        <td>
          <label for="bibliografia_complementar_disciplina">Bibliografia complementar: </label>
        </td>
        <td align="left">
        {{ form.bibliografia_complementar_disciplina }}</br>
        </td>
      </tr>
      </table>
    </fieldset>

  <table>
    <tr>
      <td>
          <input type="submit" value="Salvar" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}
