{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lista de arquivo resposta</h1>
</div>

<table class="table">
    <tr>
      <th>Nome disciplina</th>
      <th>Ano</th>
      <th>Semestre</th>
      <th>Turma</th>
      <th>Numero</th>
      <th>Ra aluno</th>
      <th>Arquivo resposta</th>
      <th>Data</th>
      <th>Editar</th>
      <th>Apagar</th>
    </tr>
        {% for arquivresposta in arquivrespostas %}
          <tr>
            <td>{{ arquivresposta.nome_disciplina }}</td>
            <td>{{ arquivresposta.ano_disciplina }}</td>
            <td>{{ arquivresposta.semestre_disciplina }}</td>
            <td>{{ arquivresposta.id_turma }}</td>
            <td>{{ arquivresposta.numero_questao }}</td>
            <td>{{ arquivresposta.ra_aluno }}</td>
            <td>{{ arquivresposta.arquivo_resposta }}</td>
            <td>
              <a href="{% url 'editar_arquivresposta' arquivresposta.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/editar.png" height="32" width="32">
              </a>
            </td>
            <td>
              <a href="{% url 'apagar_arquivresposta' arquivresposta.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/excluir.png" height="32" width="32">
              </a>
            </td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
