{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de arquivo resposta</h1>
</div>

<form action="{% url 'novo_arquivresposta' %}" method="POST">{% csrf_token %}
  <fieldset>
    <legend>Dados da arquivo resposta</legend>
      <table cellspacing="2">

        <tr>
          <td>
            <label for="nome_disciplina">Nome da disciplina: </label>
          </td>
          <td align="left">
            <select name="nome_disciplina">
              {% for resposta in resposta %}
                <option value="{{ resposta.nome_disciplina }}">{{ resposta.nome_disciplina }}</option>
              {% endfor %}
            </select></br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="ano_disciplina">Ano: </label>
          </td>
          <td align="left">
            <select name="ano_disciplina">
              {% for resposta in resposta %}
                <option value="{{ resposta.ano_disciplina }}">{{ resposta.ano_disciplina }}</option>
              {% endfor %}
            </select></br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="semestre_disciplina">Semestre: </label>
          </td>
          <td align="left">
            <select name="semestre_disciplina">
              {% for resposta in resposta %}
                <option value="{{ resposta.semestre_disciplina }}">{{ resposta.semestre_disciplina }}</option>
              {% endfor %}
            </select></br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="id_turma">Turma: </label>
          </td>
          <td align="left">
            <select name="id_turma">
              {% for resposta in resposta %}
                <option value="{{ resposta.id_turma }}">{{ resposta.id_turma }}</option>
              {% endfor %}
            </select></br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="numero_questao">Numero: </label>
          </td>
          <td align="left">
            <select name="numero_questao">
              {% for resposta in resposta %}
                <option value="{{ resposta.numero_questao }}">{{ resposta.numero_questao }}</option>
              {% endfor %}
            </select></br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="ra_aluno">Ra aluno: </label>
          </td>
          <td align="left">
            <select name="ra_aluno">
              {% for aluno in aluno %}
                <option value="{{ aluno.ra_aluno }}">{{ aluno.ra_aluno }}</option>
              {% endfor %}
            </select></br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="arquivo_resposta">Arquivo resposta: </label>
          </td>
          <td align="left">
              {{ form.arquivo_resposta }}</br>
          </td>
        </tr>
      </table>
    </fieldset>

  <table>
    <tr>
      <td>
          <input type="submit" value="Salvar" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}
