{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de alunos</h1>
</div>

<form action="{% url 'novo_aluno' %}" method="POST">{% csrf_token %}
  <fieldset>
    <legend>Dados do aluno</legend>
      <table cellspacing="2">

        <tr>
          <td>
            <label for="ra_aluno">Ra: </label>
          </td>
          <td align="left">
            {{ form.ra_aluno }}</br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="nome_aluno">Nome: </label>
          </td>
          <td align="left">
            {{ form.nome_aluno }}</br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="email_aluno">Email: </label>
          </td>
          <td>
            {{ form.email_aluno }}</br>
          </td>
        </tr>


        <tr>
          <td>
            <label for="celular_aluno">Celular: </label>
          </td>
          <td>
            {{ form.celular_aluno }}</br>
          </td>
        </tr>

      </table>
    </fieldset>
  <fieldset>

    <table>
      <legend>Dados do curso</legend>
      <tr>
        <td>
          <label for="sigla_curso">Curso: </label>
        </td>
        <td align="left">
          <select name="sigla_curso">
            {% for curso in curso %}
              <option value="{{ curso.sigla_curso }}">{{ curso.sigla_curso }}</option>
            {% endfor %}
          </select></br>
        </td>
      </tr>

    </table>
  </fieldset>
<table>
  <tr>
    <td>
        <input type="submit" value="Salvar" />
    </td>
  </tr>
</table>

</form>
{% endblock %}
